.main{
    gap: 15px;
    margin: 0%;
}

.liP{
    display: inline;
    color: azure;
    list-style-type: none;
    font-size: 35px;
    float: left;
    transition-delay: color 2s;
}

.li{
    display: inline;
}


.an{
    color: #ced4da;
    text-decoration: none;
    display: inline;
    list-style-type: none;
    font-size: x-large;
    padding: 40px;
    transition: 250ms;
}

.an:hover{
    color: white;
}